<h3>Crew</h3>
<ul>
  <li *ngFor="let member of crew">
    <span (click)="editingName = member.name;" *ngIf="editingName !== member.name; else editName">{{member.name}}
      <span *ngIf="member.firstMission"> - 1st</span>
      <button (click)="removeMember(member)">remove</button>
    </span>
    <ng-template #editName>
      <input #newName (keyup.enter)="changeName(member, newName.value);" type="text" value="{{member.name}}">
      <button (click)="changeName(member, newName.value);">save</button>
      <button (click)="editingName=''">cancel</button>
    </ng-template>
  </li>
</ul>
<div>
  <span>Add a new member: </span><br>
  <input #name (keyup.enter)="addMember(name.value, isFirstMission.checked); name.value='';" type="text">
  <br/>
  <label> First mission 
    <input #isFirstMission type="checkbox">
  </label>
  <button (click)="addMember(name.value, isFirstMission.checked); name.value='';">Add</button>
</div>
