li:hover {
    cursor: pointer;
}

.displayBox {
    height: 380px;
    width: auto;
    border: 2px dotted skyblue;
    border-radius: 5px;
    padding: 10px;
}

img {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    text-align: center;
    background-color: skyblue;
    padding: 5px;
    border-radius: 5px;
}

/* Add a 'selected' class here to style selected astronaut names a different color. */
.selected {
    color: grey;
}