.displayBox {
    height: 380px;
    width: auto;
    border: 2px dotted skyblue;
    border-radius: 5px;
    padding: 10px;
}

button {
    margin: 2px;
    cursor: pointer;
    
}

.active-button {
    background-color: yellow;
}


h3 {
    text-align: center;
    background-color: skyblue;
    padding: 5px;
    border-radius: 5px;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */


/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    color: red;
    font-style: italic;
}
