.box {
    display: flex;
    padding: 10px;
}

.main {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    font-family:'Courier New', Courier, monospace; 
}

.frame {
    border: 0px dotted gray;
    float:left;
    width: 33%;
}