#experiments-list:hover {
    cursor: pointer;
}

.displayBox {
    min-height: 245px;
    width: auto;
    border: 2px dotted skyblue;
    border-radius: 5px;
    padding: 10px;
}

h3 {
    text-align: center;
    background-color: skyblue;
    padding: 5px;
    border-radius: 5px;
}

.selected {
    color: grey;
}
.completed {
    color: green;
}